<div class="col-md-5 offset-md-3">
  <h3>UPDATE-ROOM</h3>
  <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>RoomNumber</label>
          <input type ="number" class ="form-control" id="RoomNumber" name ="RoomNumber" [(ngModel)] = "newroom.roomNumber">
        </div>

        <!-- <div class="form-group">
          <label>Category</label>
          <input type ="text" class ="form-control" id="Category" name ="Category" [(ngModel)] = "newroom.category">
        </div> -->

        <div class="form-group">
          <label>Category</label>
          <div class="form-control">
            <label class="radio-inline">
              <input type="radio" name="Category" value="AC" [(ngModel)] = "newroom.category">AC</label>
              <br>
            <label class="radio-inline">
              <input type="radio" name="Category" value="NON-AC" [(ngModel)] = "newroom.category">NON-AC</label>
          </div>
        </div>
      
        <!-- <div class="form-group">
          <label>RoomType</label>
          <input type ="text" class ="form-control" id="RoomType" name ="RoomType" [(ngModel)] = "newroom.roomType">
        </div> -->

        <div class="form-group">
          <label for="RoomType">RoomType</label>
          <select id="RoomType" name="RoomType" class="form-control" [(ngModel)] = "newroom.roomType">
            <option value="Standard Queen">Standard Queen</option>
            <option value="Standard King">Standard King</option>
            <option value="Standard">Standard</option>
            <option value="Deluxe">Deluxe</option>
            <option value="Super Deluxe">Super Deluxe</option>
            <option value="Classic">Classic</option>
            <option value="Suites">Suites</option>
          </select>
        </div>

        <div class="form-group">
          <label>ArrivalDate</label>
          <input type ="date" class ="form-control" id="ArrivalDate" name ="ArrivalDate" [(ngModel)] = "newroom.arrivalDate">
        </div>

        <div class="form-group">
          <label>DepartDate</label>
          <input type ="date" class ="form-control" id="DepartDate" name ="DepartDate" [(ngModel)] = "newroom.departDate">
        </div>

        <div class="form-group">
          <label>Noofguests</label>
          <input type ="number" class ="form-control" id="Noofguests" name ="Noofguests" [(ngModel)] = "newroom.noOfGuests">
        </div>

        <div class="form-group">
          <label>Price</label>
          <input type ="number" class ="form-control" id="Price" name ="Price" [(ngModel)] = "newroom.price">
        </div>

        <!-- <div class="form-group">
          <label>Availability</label>
          <input type ="number" class ="form-control" id="Availability" name ="Availability" [(ngModel)] = "newroom.availability">
        </div> -->

        <div class="form-group">
          <label for="Availability">Availability</label>
          <select id="Availability" name="Availability" class="form-control" [(ngModel)] = "newroom.availability">
            <option value=1>YES</option>
            <option value=0>NO</option>
          </select>
        </div>
    <br>
         <button class ="btn btn-success"type="submit">Submit</button>
  </form>
  </div>