<footer class="noto-font-family">
  <div class="overlay">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-6 col-12">
                  <h3>Useful links</h3>
                  <ul class="text-capitalize">
                      <li><a >Home</a></li>
                      <li><a >About</a></li>
                      <li><a >Rooms</a></li>
                      <li><a >Blog</a></li>
                      <li><a >Contacts</a></li>
                  </ul>
              </div>
              <div class="col-lg-4 col-md-6 col-12">
                  <h3>Find us</h3>
                  <h4>Race Course,<br>
                      Coimbatore, Tamil Nadu, India<br>
                      (+91) 9876543210<br>
                      (+91) 9078563412<br>
                      bithotel@gmail.com
                  </h4>
              </div>
          </div>
      </div>
  </div>
</footer>